@import "../variable.scss";

.live-tv-main-container {
  border: 4.5617px solid $gray;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0px 0px 57.0218px 57.0218px;
}
.live-channels-container {
  height: 600px;
  overflow-y: scroll;
}
.live-tv-title-container {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 13.68px;
  border: 6.0967px solid $gray;
  color: $white;
  margin-right: 6%;
  height: 180px;
  width: 620px;
}

.channel-category-arrow {
  width: 51px;
  height: 51px;
}

@media (max-width: 860px) {
  .live-tv-title-container {
    height: 100%;
    width: auto;
    margin-right: 0%;
    margin-bottom: 9%;
  }
  .channel-category-arrow {
    width: 31px;
    height: 31px;
  }
}
